@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #526A87 !important;

}

code {

  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar{
  width: 3px;
}

::-webkit-scrollbar-track{
  background: #526A87;
  opacity: 0;
}

::-webkit-scrollbar-thumb{
  background-image: linear-gradient(#526A87);
  border-radius: 25px;
}

.rdrMonth {
    width: 100% !important;
}

.rdrDateRangePickerWrapper {
  font-family: sans-serif;
  display: flex;
}

.rdrStaticRangeLabel {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 25px;
  font-size: 14px;
}
.rdrDayToday .rdrDayNumber span:after {
  background-color: #3f51b5;
}
.datePicker {
  justify-content: space-around;
}
.rdrStaticRange{
  border: none;
}
.rdrCalendarWrapper, .rdrDefinedRangesWrapper {
  flex: 1;
  border: none;
}

.rdrDayToday .rdrDayNumber span:after {
  background: #526A87 !important;
}

.rdrCalendarWrapper, .rdrDateRangeWrapper {
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  .rdrDateRangePickerWrapper {
    display: block;
  }

  .rdrCalendarWrapper, .rdrDateRangeWrapper {
    width: 90%;
    height: 90%;

  }
}

input, select:focus, textarea {
  font-size: 16px !important;
}






